name: DevSecOps Security Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  sast:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Semgrep (SAST)
        uses: returntocorp/semgrep-action@v1
        with:
          config: .semgrep.yml

      - name: Build Docker Image
        run: docker build -t vuln-app .

      - name: Show Environment
        run: cat /etc/passwd

      - name: Trivy Image Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: vuln-app
          severity: HIGH,CRITICAL
          exit-code: 1
