name: DevSecOps Security Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  sast:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Semgrep (SAST)
        uses: returntocorp/semgrep-action@v1
        with:
          config: .semgrep.yml

